body {
  overflow-y: hidden;
}

#q-app {
  overflow-y: auto;
  height: 100vh;
}

.q-notifications__list--bottom {
  bottom: 50px;
}

.gumshoe-badge {
  border-radius: 4px;
  width: 8px;
  height: 8px;
  padding: 0;
}
